<div id="blurry-wrapper">
	<canvas id='canvas'></canvas>
	<head>
	
		<title>Baptiste BELLECOUR</title>
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
		
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Nav -->
					<nav id="nav">
						<div>
						<ul>
							<div style="text-align:left;"><li><a class="logosh" href="#intro">[<span class="ippub"></span>@bellecour.io]~$</a></li></div>
							<div style=" float: right; color: #6a6a6a;">
							<li><a href="#first">Resume</a></li>
							<li><a href="#second">Projects</a></li>
							<li><a href="#cta">Papers</a></li></div>
						</ul>
					</div>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Glad to meet you!</h2>
										</header>
										<p>I am Baptiste BELLECOUR, a trilingual information security engineer originally from Paris, i currently work in Tokyo, Japan.
										 I became fascinated by the world of information technology at 10 years old, through an Atari Falcon030. Since that day, i knew that computing will have a big role in my life. <br><br>

										 After being successfull in various IT fields such as networking, systems administration and softwares developement, i am now employed as an information security engineer. <br><br>

										 From my point of view, information security is a continuous evolution domain where learning is never ending, and this is precisely what I love.

										</p>
										<ul class="actions">
											<li><a href="#first" class="button">Learn More</a></li>
										</ul>
									</div>
									<span class="image"><img src="../images/me.jpg" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							
							<section id="first" class="main special">
								<header class="major">
									<h2>Employement & Education</h2>
								</header>
									<section id="cd-timeline" class="cd-container">
										<div class="cd-timeline-block">
											<div " class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Fortinet</h2><h2>Security engineer</h2>
												<p data-sr>Security Reasearch, IPS Signature enhancement</p>
												
												<span class="cd-date">Aug 2017</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">NVC</h2><h2>Security engineer</h2>
												<p>Development of various programs(python, perl, shell), security procedures implementation and malwares analysis.</p>
												
												<span class="cd-date">Jan 2017</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">FacePeer</h2><h2>Infrastructure engineer</h2>
												<p>Cloud infrastructure enhancement, various security policies implementation... </p>
												
												<span class="cd-date">June 2016</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/hat.svg" alt="work"  style="-webkit-filter: invert(1); filter: invert(1); width: 38px; height: 38px; margin-left: -18px; margin-top: -14px;">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">TCJ Japanese school</h2><h2>Advanced Japanese language course </h2>
												<p>JLPT 2: passed - 114/180</p>
												
												<span class="cd-date">Jan 2016</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Microcasques France</h2><h2>System & network security engineer</h2>
												<p>E-shop website development, Microsoft Lync Network architecture design.</p>
												
												<span class="cd-date">Feb 2015</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Tigerlily</h2><h2>System & network security engineer</h2>
												<p>Functional and technical redesign of the company original network architecture. </p>
												
												<span class="cd-date">June 2014</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/hat.svg" alt="work"  style="-webkit-filter: invert(1); filter: invert(1); width: 38px; height: 38px; margin-left: -18px; margin-top: -14px;">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">IONIS STM</h2><h2>Master's degree in Information security</h2>
												<p>Graduation: June 2015 </p>
												<span class="cd-date">Oct 2013</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
                                        
                                        <div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/hat.svg" alt="work"  style="-webkit-filter: invert(1); filter: invert(1); width: 38px; height: 38px; margin-left: -18px; margin-top: -14px;">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Ministry of education</h2><h2>Bachelor degree in telecom engineering</h2>
												<p>Graduation: July 2013</p>
												<span class="cd-date">Nov 2011</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
										
										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">SFR</h2><h2>FTTH Business support</h2>
												<p>SFR Company's FTTH Technical knowledge management & teaching.</p>

												<span class="cd-date">Oct 2011</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
                                            <div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">FANCTION</h2><h2>Project manager</h2>
												<p>Showcase website development translated in 5 languages.</p>
												
												<span class="cd-date">Dec 2010</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

                                        <div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Neuf Cegetel</h2><h2>FTTx Network Administrator</h2>
												<p>Solving technical problems of the company's special customers.</p>
												
												<span class="cd-date">Nov 2007</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

                                        <div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Erenis</h2><h2>FTTB Technician</h2>
												<p>Identifying and solving customer’s issues related to the Erenis company's FTTB Zyxel equipments.</p>
												
												<span class="cd-date">Mar 2006</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
									</section> <!-- cd-timeline -->

									<!-- SKILLS -->

									<header class="major">
									<h2>Skills</h2>
									</header>
								        <div class="spotlight">
								            <div class="content">
								                <!--  Container  --> 
									                <ul class="progress revealOnScroll" id="skills1">
									                    <!--  Item  -->
	      												<li class="skills" data-name="Networking" data-percent="85%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="540"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									 					<li class="skills" data-name="OS Administration" data-percent="70%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="450"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
														<li class="skills" data-name="Coding" data-percent="45%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="280"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									 					<li class="skills" data-name="Info security" data-percent="50%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="314"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									                    <li class="skills" data-name="French" data-percent="100%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="629"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									                    <li class="skills" data-name="English" data-percent="75%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="471"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									                    <li class="skills" data-name="Japanese" data-percent="60%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="410"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									                    <li class="skills" data-name="Project managment" data-percent="80%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="510"></path>
									                        </svg>
									                    </li>
									                </ul>
									                <!--  Defining Angle Gradient Colors  -->
									                <svg class="progress2" id="skills2" width="0" height="0">
									                <defs>
									                <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
									                    <stop stop-color="#8cc9f0"/>
									                    <stop offset="100%" stop-color="#8e6677"/>
									                </linearGradient>
									                <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
									                    <stop stop-color="#8e6677"/>
									                    <stop offset="100%" stop-color="#9b5e67"/>
									                </linearGradient>
									                <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
									                    <stop stop-color="#9b5e67"/>
									                    <stop offset="100%" stop-color="#efa8b0"/>
									                </linearGradient>
									                <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
									                    <stop stop-color="#efa8b0"/>
									                    <stop offset="100%" stop-color="#9b5e67"/>
									                </linearGradient>
									                <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
									                    <stop stop-color="#9b5e67"/>
									                    <stop offset="100%" stop-color="#8e6677"/>
									                </linearGradient>
									                <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
									                    <stop stop-color="#8e6677"/>
									                    <stop offset="100%" stop-color="#8cc9f0"/>
									                </linearGradient>
									                </defs>
	  												</svg>
									    	</div>
								        </div>
								        <footer class="major">
									<ul class="actions">
										<li><a href='https://www.linkedin.com/in/bbellecour/' target="_blank" class="button "><i class="fa fa-linkedin-square"></i>  Learn More </a></li>
									</ul>
								</footer>
							</section> 
							
								
					

						<!-- Projects -->

							<section id="second" class="main special">
								<header class="major">
									<h2>Projects</h2>
									<p>Here is a non exhaustive list of open source projects i worked on. <br/> Feel free to browse it!</p>
								</header>
								<div class="container">
								  <div class="at-section">
								  </div>
								  <div class="at-grid" data-column="3">
								  	<a class="modal-trigger" style="border-bottom:none; color:#636363;" data-modal-id="modal-1">
								    <div class="at-column">
								      <div class="at-user">
								        <div class="at-user__avatar avatar_style"> <i class="fa fa-cloud-download fa-4x fa-gradient"></i></div>
								        <div class="at-user__name">Incapsula fetcher</div>
								        <div class="at-user__title">Connecting to Imperva's Incapsula API, this script Fetch and parse the WAF events.</div>
								        <ul class="at-social">
								          <li class="at-social__item"><a style="border-bottom:none;" href="https://github.com/b-bellecour/incapsula-fetcher" target="_blank">
								              <i  class="fa fa-github"></i></a>
								          </li>
								          <li class="at-social__item"><a class="modal-trigger" style="border-bottom:none;" data-modal-id="modal-1">
								              <i class="fa fa-info-circle"></i></a>
								          </li>
								        </ul>
								      </div>
								    </div>
									</a>

								    <a class="modal-trigger" style="border-bottom:none; color:#636363;" data-modal-id="modal-2">
								    <div class="at-column">
								      <div class="at-user">
								       <div class="at-user__avatar"><i class="fa fa-list-alt fa-4x fa-gradient"></i></div>
								        <div class="at-user__name">FireEye parser</div>
								        <div class="at-user__title">After parsing the FireEye EX incident's embed XML format, this script will send a custom mail to the desired destination addresses.</div>
								        <ul class="at-social">
								          <li class="at-social__item"><a style="border-bottom:none;" href="https://github.com/b-bellecour/FireEye-EX-Mail-Parser" target="_blank">
								              <i class="fa fa-github"></i></a>
								          </li>
								          <li class="at-social__item"><a class="modal-trigger" style="border-bottom:none;" data-modal-id="modal-2">
								              <i class="fa fa-info-circle"></i></a>
								          </li>
								        </ul>
								      </div>
								    </div>
									</a>
									<a class="modal-trigger" style="border-bottom:none; color:#636363;" data-modal-id="modal-3">
								    <div class="at-column">
								      <div class="at-user">
								       <div class="at-user__avatar"><i class="fa fa-bomb fa-4x fa-gradient"></i></div>
								        <div class="at-user__name">ARP Flooder</div>
								        <div class="at-user__title">A very basic ARP flooder for educational purpose.</div>
								        <ul class="at-social">
								          <li class="at-social__item"><a style="border-bottom:none;" href="https://github.com/b-bellecour/arp-flooder" target="_blank">
								              <i class="fa fa-github"></i></a>
								          </li>
								          <li class="at-social__item"><a class="modal-trigger" style="border-bottom:none;" data-modal-id="modal-3">
								              <i class="fa fa-info-circle"></i></a>
								          </li>
								        </ul>
								      </div>
								    </div>
									</a>
								  </div>
								</div>
							</section>
						
						<!-- Get Started -->


							<section id="cta" class="main special">
								<header class="major">
									<h2>Congue imperdiet</h2>
									<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
									posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
								</header>
								<footer class="major">
									<ul class="actions">
										<li><a href="generic.html" class="button special">Get Started</a></li>
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>
					</div>
							
						<footer id="footer">
						<section>
							<h2>Aliquam sed mauris</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>Etiam feugiat</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(000) 000-0000 x 0000</dd>
								<dt>Email</dt>
								<dd><a href="#">information@untitled.tld</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; {{ site.title }}. Design: <a href="http://baptiste.bellecour.io" target="_blank">Batiste BELLECOUR</a>. Jekyll integration: <a href="http://baptiste.bellecour.io" target="_blank">Baptiste BELLECOUR</a>.</p>
					</footer>

			</div>
			</div>
		</div>
	</div>
  	<div class="loading">
  		<div class="ascii-loading loading-title">
  			<span class="turning-body">
    			(<span class="turning-hand">ノ</span>ಠ益ಠ)<span class="turning-hand">ノ</span>
  			</span>
  			<span class="flying-table-outer">
    			<span class="flying-table">┻━┻</span>
  			</span>
		</div>
    <div class="loading-progress"></div>
  	</div>

	<!-- Modal -->
						<div id="modal-1" class="modal" data-modal-effect="fadescale">
						  <div class="modal-content">
						  	<div style="text-align:right;">
								<a href="#" style="border-bottom:none;" > 
									<button style=" border-radius: 15px; min-width: 2em; padding: 0px 0 2px 0; height: 2em; line-height: 0;" data-dismiss="modal" class="modal-close">x</button>
								</a>
							</div>
						  	<div> {% include modal/incap-modal.html %} </div>
						  </div>
						</div>

						<div id="modal-2" class="modal" data-modal-effect="fadescale">
						  <div class="modal-content">
						  	<div style="text-align:right;">
								<a href="#" style="border-bottom:none;" > 
									<button style=" border-radius: 15px; min-width: 2em; padding: 0px 0 2px 0; height: 2em; line-height: 0;" data-dismiss="modal" class="modal-close">x</button>
								</a>
							</div>
						  	<div> {% include modal/fireEye-modal.html %} </div>
						  </div>
						</div>

						<div id="modal-3" class="modal" data-modal-effect="fadescale">
						  <div class="modal-content">
						  	<div style="text-align:right;">
								<a href="#" style="border-bottom:none;" > 
									<button style=" border-radius: 15px; min-width: 2em; padding: 0px 0 2px 0; height: 2em; line-height: 0;" data-dismiss="modal" class="modal-close">x</button>
								</a>
							</div>
						  	<div> {% include modal/arp-modal.html %} </div>
						  </div>
						</div>


						