<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="description" content="" />
		<meta name="keywords" content="baptiste, bellecour, security, engineer, japan" />
		<meta name="author" content="Baptiste BELLECOUR" />

		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|VT323" rel="stylesheet">
	
		<!--[if IE]>
  		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--><script>document.documentElement.className = 'js';</script>

	<body class="demo-11">
		<div id=hideMe2 style="opacity: 0">
		<div id="connecting-dots" class="connecting-dots">

				<canvas id="canvas"></canvas>
		</div>
		</div>
		
				<div class="name-main">
					<div class="name" id="hideMe"><div class="word"><span>Baptiste</span>&nbsp; <span> Bellecour</span></div>
					<div class="overlay"></div>
						<ul class="actions lang-selector" id="hideMe3" style="opacity: 0; text-align: center;">
								<figure>
								  <div class="front-btn">
								  	<a href="/en/">
								    <span>english</span>
								    <span>英語</span>
									</a>
								  </div>
								</figure>
								<br>
								<figure>
								  <div class="front-btn">
								    <span>日本語</span>
								    <span>japanese</span>
								  </div>
								</figure>
								<br>
								<figure>
								  <div class="front-btn">
								    <span>français</span>
								    <span>フランス語</span>
								  </div>
								</figure>
						</ul>
					</div>
				</div>
						<div >

						</div>
				
		<div class="search search--open">

			<div class="terminal">
				<p class="terminal__line">Welcome, <span class="ippub" style="color:#fff;"></span>.</p>
				<p class="terminal__line">Fetching your location: <span class="country" style="color:#fff;"></span>.</p>
				<p class="terminal__line">Initializing reverse TCP payload →  <span class="ippub" style="color:#fff;">done.</span></p>
				<p class="terminal__line">Injecting UI components into your browser.</p>
			</div>
		</div><!-- /search -->
		</head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>
		

	</body>
</html>
