<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="description" content="" />
		<meta name="keywords" content="baptiste, bellecour, security, engineer, japan" />
		<meta name="author" content="Baptiste BELLECOUR" />

		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|VT323" rel="stylesheet">
	
		<!--[if IE]>
  		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--><script>document.documentElement.className = 'js';</script>
	</head>

	<body class="demo-11">
		<div id=hideMe2 style="opacity: 0">
		<div id="connecting-dots" class="connecting-dots">

				<canvas id="canvas"></canvas>
		</div>
		</div>
		
				<div class="name-main">
					<div class="name front-lang" id="hideMe">Baptiste Bellecour
						<ul class="actions" style="font-size:18px; padding-top:30px;" >
								<li> <a href="/en/" class="button">english</a></li> 
								<li> <a href="/jp/" class="button">日本語</a></li>
								<li> <a href="/fr/" class="button">français</a></li>
						</ul>
					</div>
				</div>
						<div id="hideMe3" style="opacity: 0; text-align: center;">

						</div>
				
		<div class="search search--open">

			<div class="terminal">
				<p class="terminal__line">Welcome, <span class="ippub" style="color:#fff;"></span>.</p>
				<p class="terminal__line">How is the weather in <span class="country" style="color:#fff;"></span>?</p>
				<p class="terminal__line">Loading UI components.</p>


			</div>
		</div><!-- /search -->
        <p> OK </p>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
		

	</body>
</html>
