<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="description" content="" />
		<meta name="keywords" content="baptiste, bellecour, security, engineer, japan" />
		<meta name="author" content="Baptiste BELLECOUR" />

		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|VT323" rel="stylesheet">
	
		<!--[if IE]>
  		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--><script>document.documentElement.className = 'js';</script>
	</head>
	<body class="demo-11">
		<div id=hideMe2 style="opacity: 0">
		<div id="connecting-dots" class="connecting-dots">
				<canvas id="canvas"></canvas>
		</div>
		</div>

		<div class="search search--open">

			<div class="terminal">
				<p class="terminal__line">Welcome, <span style="color:#fff;">internet user</span>.</p>
				<p class="terminal__line">Your public IP is <span class="ippub" style="color:#fff;"></span></p>
				<p class="terminal__line">Your local ip should be <span style="color:#fff;" id="ip"></span></p>
				<p class="terminal__line">Your location seems to be <span class="country" style="color:#fff;"></span>.</p>
				<p class="terminal__line">Loading UI components.</p>
				<p class="name front-lang" id="hideMe">Baptiste Bellecour</p>
				<div id="hideMe3" style="opacity: 0; text-align: center; position:sticky;">
					<ul class="actions">
						<li> <a href="/en/" class="button">english</a></li> 
						<li> <a href="/jp/" class="button">日本語</a></li>
						<li> <a href="/fr/" class="button">français</a></li>
					</ul>
				</div>

			</div>
		</div><!-- /search -->


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
		

	</body>
</html>
