<!DOCTYPE HTML>
<!--
	bellecour.io
-->
<html>
	<head>
		<title>Baptiste BELLECOUR</title>
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header" class="alt" style="background-color: rgba(0, 0, 0, 0.6);">
						<div>
						<!--<span class="logo"><img src="images/logo.svg" alt="" /></span>-->
						<h1 style="text-shadow:2px 2px #000000;"> Baptiste BELLECOUR </h1>
						<p>Please choose a language</p>
						</div>
						<a class="button" id="unhide" href="#intro">english</a> <button id="unhide" href="#intro">français</button> <button id="unhide" href="#intro">日本語</button>
					</header>

			<div id="hide" style="display:none">
			<canvas id='cvs'></canvas>


				<!-- Nav -->
					<nav id="nav">
						<div>
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<li><a href="#first">Resume</a></li>
							<li><a href="#second">Projects</a></li>
							<li><a href="#cta">Papers</a></li>
						</ul>
					</div>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Glad to meet you!</h2>
										</header>
										<p>I am Baptiste BELLECOUR, a trilingual information security engineer originally from Paris, i currently work in Tokyo, Japan.
										 I became fascinated by the world of information technology at 10 years old, through an Atari Falcon030. Since that day, i knew that computing will have a big role in my life. <br><br>

										 After being successfull in various IT fields such as networking, systems administration and softwares developement, i am now employed as an information security engineer. <br><br>

										 From my point of view, information security is a continuous evolution domain where learning is never ending, and this is precisely what I love.

										</p>
										<ul class="actions">
											<li><a href="#first" class="button">Learn More</a></li>
										</ul>
									</div>
									<span class="image"><img src="images/me.jpg" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Employement & Education</h2>
								</header>
									<section id="cd-timeline" class="cd-container">
										<div class="cd-timeline-block">
											<div " class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Fortinet</h2><h2>Security engineer</h2>
												<p data-sr>Security Reasearch, IPS Signature enhancement</p>
												
												<span class="cd-date">Aug 2017</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">NVC</h2><h2>Security engineer</h2>
												<p>Development of various programs(python, perl, shell), security procedures implementation and malwares analysis.</p>
												
												<span class="cd-date">Jan 2017</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">FacePeer</h2><h2>Infrastructure engineer</h2>
												<p>Cloud infrastructure enhancement, various security policies implementation... </p>
												
												<span class="cd-date">June 2016</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/hat.svg" alt="work"  style="-webkit-filter: invert(1); filter: invert(1); width: 38px; height: 38px; margin-left: -18px; margin-top: -14px;">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">TCJ Japanese school</h2><h2>Advanced Japanese language course </h2>
												<p>JLPT 2: passed - 114/180</p>
												
												<span class="cd-date">Jan 2016</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Microcasques France</h2><h2>System & network security engineer</h2>
												<p>E-shop website development, Microsoft Lync Network architecture design.</p>
												
												<span class="cd-date">Feb 2015</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Tigerlily</h2><h2>System & network security engineer</h2>
												<p>Functional and technical redesign of the company original network architecture. </p>
												
												<span class="cd-date">June 2014</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/hat.svg" alt="work"  style="-webkit-filter: invert(1); filter: invert(1); width: 38px; height: 38px; margin-left: -18px; margin-top: -14px;">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">IONIS STM</h2><h2>Master's degree in Information security</h2>
												<p>Graduation: June 2015 </p>
												<span class="cd-date">Oct 2013</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
                                        
                                        <div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/hat.svg" alt="work"  style="-webkit-filter: invert(1); filter: invert(1); width: 38px; height: 38px; margin-left: -18px; margin-top: -14px;">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Ministry of education</h2><h2>Bachelor degree in telecom engineering</h2>
												<p>Graduation: July 2013</p>
												<span class="cd-date">Nov 2011</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
										
										<div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">SFR</h2><h2>FTTH Business support</h2>
												<p>SFR Company's FTTH Technical knowledge management & teaching.</p>

												<span class="cd-date">Oct 2011</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
                                            <div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">FANCTION</h2><h2>Project manager</h2>
												<p>Showcase website development translated in 5 languages.</p>
												
												<span class="cd-date">Dec 2010</span>
												<span class="cd-coun">Tokyo</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

                                        <div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Neuf Cegetel</h2><h2>FTTx Network Administrator</h2>
												<p>Solving technical problems of the company's special customers.</p>
												
												<span class="cd-date">Nov 2007</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->

                                        <div class="cd-timeline-block">
											<div class="cd-timeline-img cd-picture">
												<img src="/images/briefcase.svg" alt="work" style="-webkit-filter: invert(1); filter: invert(1);">
											</div> <!-- cd-timeline-img -->

											<div class="cd-timeline-content">
												<h2 class="bolder">Erenis</h2><h2>FTTB Technician</h2>
												<p>Identifying and solving customer’s issues related to the Erenis company's FTTB Zyxel equipments.</p>
												
												<span class="cd-date">Mar 2006</span>
												<span class="cd-coun">Paris</span>
											</div> <!-- cd-timeline-content -->
										</div> <!-- cd-timeline-block -->
									</section> <!-- cd-timeline -->

									<header class="major">
									<h2>Skills</h2>
									</header>
								        <div class="spotlight">
								            <div class="content">

								                <!--  Container  --> 
									                <ul class="progress revealOnScroll">
									                    <!--  Item  -->
	      												<li class="skills" data-name="Networking" data-percent="85%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="540"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									 					<li class="skills" data-name="OS Administration" data-percent="70%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="450"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
														<li class="skills" data-name="Coding" data-percent="45%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="280"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									 					<li class="skills" data-name="Info security" data-percent="50%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="314"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									                    <li class="skills" data-name="French" data-percent="100%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="629"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									                    <li class="skills" data-name="English" data-percent="75%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="471"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									                    <li class="skills" data-name="Japanese" data-percent="60%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="410"></path>
									                        </svg>
									                    </li>
									                    <!--  Item  -->
									                    <li class="skills" data-name="Project managment" data-percent="80%">
									                        <svg viewBox="-10 -10 220 220">
									                        <g fill="none" stroke-width="6" transform="translate(100,100)">
									                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
									                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
									                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
									                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
									                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
									                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
									                        </g>
									                        </svg>
									                        <svg viewBox="-10 -10 220 220">
									                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="510"></path>
									                        </svg>
									                    </li>
									                </ul>
									                <!--  Defining Angle Gradient Colors  -->
									                <svg class="progress2" width="0" height="0">
									                <defs>
									                <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
									                    <stop stop-color="#8cc9f0"/>
									                    <stop offset="100%" stop-color="#8e6677"/>
									                </linearGradient>
									                <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
									                    <stop stop-color="#8e6677"/>
									                    <stop offset="100%" stop-color="#9b5e67"/>
									                </linearGradient>
									                <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
									                    <stop stop-color="#9b5e67"/>
									                    <stop offset="100%" stop-color="#efa8b0"/>
									                </linearGradient>
									                <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
									                    <stop stop-color="#efa8b0"/>
									                    <stop offset="100%" stop-color="#9b5e67"/>
									                </linearGradient>
									                <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
									                    <stop stop-color="#9b5e67"/>
									                    <stop offset="100%" stop-color="#8e6677"/>
									                </linearGradient>
									                <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
									                    <stop stop-color="#8e6677"/>
									                    <stop offset="100%" stop-color="#8cc9f0"/>
									                </linearGradient>
									                </defs>
	  
									    	</div>
								        </div>
								        <footer class="major">
									<ul class="actions">
										<li><a href='https://www.linkedin.com/in/bbellecour/' target="_blank" class="button "><i class="fa fa-linkedin-square"></i>  Learn More </a></li>
									</ul>
								</footer>
							</section> 
							
								
					

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2>Projects</h2>
									<p>Here is a non exhaustive list of open source projects i worked on. <br/> Feel free to browse it!</p>
								</header>
								<div class="container">
								  <div class="at-section">
								  </div>
								  <div class="at-grid" data-column="3">
								    <div class="at-column">
								      <div class="at-user">
								        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg"/></div>
								        <div class="at-user__name">Aaron Rossi</div>
								        <div class="at-user__title">CEO &amp; Co-Founder</div>
								        <ul class="at-social">
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z" fill-rule="evenodd"></path>
								              </svg></a></li>
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M20.875 7.5v.563c0 3.28-1.18 6.257-3.54 8.93C14.978 19.663 11.845 21 7.938 21c-2.5 0-4.812-.687-6.937-2.063.5.063.86.094 1.078.094 2.094 0 3.969-.656 5.625-1.968a4.563 4.563 0 0 1-2.625-.915 4.294 4.294 0 0 1-1.594-2.226c.375.062.657.094.844.094.313 0 .719-.063 1.219-.188-1.031-.219-1.899-.742-2.602-1.57a4.32 4.32 0 0 1-1.054-2.883c.687.328 1.375.516 2.062.516C2.61 9.016 1.938 7.75 1.938 6.094c0-.782.203-1.531.609-2.25 2.406 2.969 5.515 4.547 9.328 4.734-.063-.219-.094-.562-.094-1.031 0-1.281.438-2.36 1.313-3.234C13.969 3.437 15.047 3 16.328 3s2.375.484 3.281 1.453c.938-.156 1.907-.531 2.907-1.125-.313 1.094-.985 1.938-2.016 2.531.969-.093 1.844-.328 2.625-.703-.563.875-1.312 1.656-2.25 2.344z" fill-rule="evenodd"></path>
								              </svg></a></li>
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z" fill-rule="evenodd"></path>
								              </svg></a></li>
								        </ul>
								      </div>
								    </div>
								    <div class="at-column">
								      <div class="at-user">
								        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg"/></div>
								        <div class="at-user__name">Marco Gomez</div>
								        <div class="at-user__title">Co-Founder, Creative Director</div>
								        <ul class="at-social">
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z" fill-rule="evenodd"></path>
								              </svg></a></li>
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M20.875 7.5v.563c0 3.28-1.18 6.257-3.54 8.93C14.978 19.663 11.845 21 7.938 21c-2.5 0-4.812-.687-6.937-2.063.5.063.86.094 1.078.094 2.094 0 3.969-.656 5.625-1.968a4.563 4.563 0 0 1-2.625-.915 4.294 4.294 0 0 1-1.594-2.226c.375.062.657.094.844.094.313 0 .719-.063 1.219-.188-1.031-.219-1.899-.742-2.602-1.57a4.32 4.32 0 0 1-1.054-2.883c.687.328 1.375.516 2.062.516C2.61 9.016 1.938 7.75 1.938 6.094c0-.782.203-1.531.609-2.25 2.406 2.969 5.515 4.547 9.328 4.734-.063-.219-.094-.562-.094-1.031 0-1.281.438-2.36 1.313-3.234C13.969 3.437 15.047 3 16.328 3s2.375.484 3.281 1.453c.938-.156 1.907-.531 2.907-1.125-.313 1.094-.985 1.938-2.016 2.531.969-.093 1.844-.328 2.625-.703-.563.875-1.312 1.656-2.25 2.344z" fill-rule="evenodd"></path>
								              </svg></a></li>
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z" fill-rule="evenodd"></path>
								              </svg></a></li>
								        </ul>
								      </div>
								    </div>
								    <div class="at-column">
								      <div class="at-user">
								        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/boheme/128.jpg"/></div>
								        <div class="at-user__name">Brad Joe</div>
								        <div class="at-user__title">Office Manager</div>
								        <ul class="at-social">
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z" fill-rule="evenodd"></path>
								              </svg></a></li>
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M20.875 7.5v.563c0 3.28-1.18 6.257-3.54 8.93C14.978 19.663 11.845 21 7.938 21c-2.5 0-4.812-.687-6.937-2.063.5.063.86.094 1.078.094 2.094 0 3.969-.656 5.625-1.968a4.563 4.563 0 0 1-2.625-.915 4.294 4.294 0 0 1-1.594-2.226c.375.062.657.094.844.094.313 0 .719-.063 1.219-.188-1.031-.219-1.899-.742-2.602-1.57a4.32 4.32 0 0 1-1.054-2.883c.687.328 1.375.516 2.062.516C2.61 9.016 1.938 7.75 1.938 6.094c0-.782.203-1.531.609-2.25 2.406 2.969 5.515 4.547 9.328 4.734-.063-.219-.094-.562-.094-1.031 0-1.281.438-2.36 1.313-3.234C13.969 3.437 15.047 3 16.328 3s2.375.484 3.281 1.453c.938-.156 1.907-.531 2.907-1.125-.313 1.094-.985 1.938-2.016 2.531.969-.093 1.844-.328 2.625-.703-.563.875-1.312 1.656-2.25 2.344z" fill-rule="evenodd"></path>
								              </svg></a></li>
								          <li class="at-social__item"><a href="">
								              <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								                <path d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z" fill-rule="evenodd"></path>
								              </svg></a></li>
								        </ul>
								      </div>
								    </div>
								  </div>
								</div>
							</section>

						<!-- Get Started -->


							<section id="cta" class="main special">
								<header class="major">
									<h2>Congue imperdiet</h2>
									<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
									posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
								</header>
								<footer class="major">
									<ul class="actions">
										<li><a href="generic.html" class="button special">Get Started</a></li>
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>
					</div>
							
						<footer id="footer">
						<section>
							<h2>Aliquam sed mauris</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>Etiam feugiat</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(000) 000-0000 x 0000</dd>
								<dt>Email</dt>
								<dd><a href="#">information@untitled.tld</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; {{ site.title }}. Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>. Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a>.</p>
					</footer>

			</div>
			</div>

	</body>
</html>
