// Custom styles.


.post.post-type- {
	padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px dashed #ccc;

}

a {
    color: #636363;
    text-decoration: none;
    border-bottom: none;
    word-wrap: break-word;
}

a:hover {
	color: #8dcaec;
}


@media only screen and (min-width: 640px){
.post-button {
    margin: -15px 0 0 40px;
    position: fixed;
    display: inline-flex;
    right: 0;
	}
}

@media only screen and (max-width: 640px){
.post-button {
    display: none;
	}
}


.post.use-motion {

}


.btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
    color: white;
    border: 1px dashed #ccc;
    text-decoration: none;
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: #636363 !important;
}

.btn:hover {
    color: #8dcaec !important;
}

 .post-button .btn:hover {
	color: #8dcaec !important;
	background: #fff;
	border: 1px dashed #ccc;

}

 .btn a:hover {
	color: #8dcaec !important;
	background: #fff;
	border: 1px dashed #ccc;

}


.testrino .post-button .btn {
    color: #555;
    font-size: 12px;
    border-radius: 3px;
    line-height: 2;
    margin: -10px 4px 8px 0px;
}

.post-title-cat {
    margin-left: 95px;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;
}
.post-header h1.post-title {
	  font-size: 20px;
	  font-weight: 100;
}


.post-description {
	text-align: center;
	color:#999;
	font-size: 16px;
    font-weight: 300;
}

.post-description-2 {
	color: #999;
}

.post-meta {
	font-size: 12px;
}

small {
    color: #bbb;
    margin-left: 5px;
}

.tablo{
	overflow-x:auto;
}

table {
	width: auto;
}


@media only screen and (max-width: 400px){
tr, td {
    font-size: 10px;
    width: auto;
	}
}


@media (max-width: 767px) {
.post-body {
    text-align: left;
}
}

p {
    line-height: 25px;
}
@media (min-width: 992px){
.posts-expand .post-body {
    text-align: left;
    }
    }



.posts-expand .post-tags a {
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    border: 1px dashed #ccc;
    padding: 0px 4px 1px 4px;
    line-height: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post-tags a:hover {
	background: #fff;
	border: 1px dashed #ccc;

}

.site-author-image {
    display: block;
    margin: 0 auto;
    padding: 2px;
    max-width: 190px;
    height: auto;
    border: 1px solid #eee;
}

/* live circle pulse */

.circle {
  width :12px;
  height:12px;
  margin:-8px 90px;
  background:#f45756;
  border-radius:100%;
  line-height: 10px;
}
.pulse {
  animation :pulse 1s infinite;
  animation-duration:2s;
}
@-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(245, 87, 86, 0.6);
        }
        70% {
            -webkit-box-shadow: 0 0 0 12px rgba(245, 87, 86, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(245, 87, 86, 0);
        }
    }
    @keyframes pulse {
        0% {
/*           transform:rotateY(180deg); */
            -moz-box-shadow: 0 0 0 0 rgba(245, 87, 86, 0.6);
            box-shadow: 0 0 0 0 rgba(245, 87, 86, 0.5);
        }
        70% {
/*                    transform:rotateY(0deg); */

            -moz-box-shadow: 0 0 0 12px rgba(245, 87, 86, 0);
            box-shadow: 0 0 0 12px rgba(245, 87, 86, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(245, 87, 86, 0);
            box-shadow: 0 0 0 0 rgba(245, 87, 86, 0);
        }
    }

/* stars */

.local-search-popup .search-icon {
    float: left;
    top: -4px;
    left: -6px;
    position: relative;
}

.site-nav-toggle button {
    margin-top: 132px;
    padding: 9px 10px;
    background: #292f35;
    border: solid 1px #fff;
    margin-left: -10px;
}

.brand {
    position: relative;
    display: inline-block;
    color: white;
    border-bottom: none;
    top: -110px;
}


.site-subtitle {
    margin: -40px 0 10px;
    font-weight: initial;
}


 .site-meta {
 	padding: 0;
    color: white;
    height: 100%;
    background: linear-gradient( rgba(40, 47, 53, 0.2), rgba(40, 47, 53, 0.5)), url("/img/space.jpg");
    overflow: hidden;
}


svg {
  width: 100%;
}

@media (max-width: 991px) {
	svg {
  width: 100%;
  height: 170px;
}
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#stars {
  -webkit-animation: starsMovement 240s linear infinite;
          animation: starsMovement 240s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}
@-webkit-keyframes starsMovement {
  0% {
    -webkit-transform: scale(1.5) rotate(0deg);
            transform: scale(1.5) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotate(360deg);
            transform: scale(1.5) rotate(360deg);
  }
}
@keyframes starsMovement {
  0% {
    -webkit-transform: scale(1.5) rotate(0deg);
            transform: scale(1.5) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotate(360deg);
            transform: scale(1.5) rotate(360deg);
  }
}
#stars circle {
  fill: #FFF;
  -webkit-animation: glow 1s infinite forwards;
          animation: glow 1s infinite forwards;
}
@-webkit-keyframes glow {
  6% {
    opacity: 1;
  }
  12% {
    opacity: 0.5;
  }
  18% {
    opacity: 0.9;
  }
  24% {
    opacity: 0.4;
  }
  30%, 100% {
    opacity: 1;
  }
}
@keyframes glow {
  6% {
    opacity: 1;
  }
  12% {
    opacity: 0.5;
  }
  18% {
    opacity: 0.9;
  }
  24% {
    opacity: 0.4;
  }
  30%, 100% {
    opacity: 1;
  }
}
#stars circle:nth-of-type(1) {
  r: 3;
  cy: 82%;
  cx: 17%;
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}
#stars circle:nth-of-type(2) {
  r: 2;
  cy: 11%;
  cx: 95%;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
#stars circle:nth-of-type(3) {
  r: 3;
  cy: 24%;
  cx: 83%;
  -webkit-animation-delay: 6.2s;
          animation-delay: 6.2s;
}
#stars circle:nth-of-type(4) {
  r: 2;
  cy: 41%;
  cx: 61%;
  -webkit-animation-delay: 6.7s;
          animation-delay: 6.7s;
}
#stars circle:nth-of-type(5) {
  r: 3;
  cy: 65%;
  cx: 76%;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
#stars circle:nth-of-type(6) {
  r: 3;
  cy: 5%;
  cx: 13%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#stars circle:nth-of-type(7) {
  r: 2;
  cy: 58%;
  cx: 3%;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
#stars circle:nth-of-type(8) {
  r: 3;
  cy: 10%;
  cx: 43%;
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
}
#stars circle:nth-of-type(9) {
  r: 2;
  cy: 6%;
  cx: 23%;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
#stars circle:nth-of-type(10) {
  r: 2;
  cy: 80%;
  cx: 26%;
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}
#stars circle:nth-of-type(11) {
  r: 3;
  cy: 22%;
  cx: 89%;
  -webkit-animation-delay: 9.5s;
          animation-delay: 9.5s;
}
#stars circle:nth-of-type(12) {
  r: 3;
  cy: 79%;
  cx: 84%;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
#stars circle:nth-of-type(13) {
  r: 3;
  cy: 35%;
  cx: 70%;
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
}
#stars circle:nth-of-type(14) {
  r: 3;
  cy: 6%;
  cx: 91%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
#stars circle:nth-of-type(15) {
  r: 3;
  cy: 48%;
  cx: 38%;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
#stars circle:nth-of-type(16) {
  r: 3;
  cy: 18%;
  cx: 84%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#stars circle:nth-of-type(17) {
  r: 2;
  cy: 59%;
  cx: 32%;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
#stars circle:nth-of-type(18) {
  r: 2;
  cy: 93%;
  cx: 31%;
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}
#stars circle:nth-of-type(19) {
  r: 2;
  cy: 55%;
  cx: 89%;
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}
#stars circle:nth-of-type(20) {
  r: 2;
  cy: 24%;
  cx: 4%;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
#stars circle:nth-of-type(21) {
  r: 2;
  cy: 78%;
  cx: 11%;
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s;
}
#stars circle:nth-of-type(22) {
  r: 2;
  cy: 6%;
  cx: 43%;
  -webkit-animation-delay: 8.3s;
          animation-delay: 8.3s;
}
#stars circle:nth-of-type(23) {
  r: 2;
  cy: 19%;
  cx: 75%;
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
}
#stars circle:nth-of-type(24) {
  r: 2;
  cy: 1%;
  cx: 58%;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}
#stars circle:nth-of-type(25) {
  r: 2;
  cy: 20%;
  cx: 71%;
  -webkit-animation-delay: 8.9s;
          animation-delay: 8.9s;
}
#stars circle:nth-of-type(26) {
  r: 3;
  cy: 30%;
  cx: 100%;
  -webkit-animation-delay: 9.2s;
          animation-delay: 9.2s;
}
#stars circle:nth-of-type(27) {
  r: 3;
  cy: 61%;
  cx: 33%;
  -webkit-animation-delay: 8.9s;
          animation-delay: 8.9s;
}
#stars circle:nth-of-type(28) {
  r: 2;
  cy: 46%;
  cx: 47%;
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
}
#stars circle:nth-of-type(29) {
  r: 2;
  cy: 33%;
  cx: 93%;
  -webkit-animation-delay: 9.7s;
          animation-delay: 9.7s;
}
#stars circle:nth-of-type(30) {
  r: 2;
  cy: 83%;
  cx: 80%;
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}
#stars circle:nth-of-type(31) {
  r: 3;
  cy: 99%;
  cx: 86%;
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}
#stars circle:nth-of-type(32) {
  r: 3;
  cy: 69%;
  cx: 43%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#stars circle:nth-of-type(33) {
  r: 2;
  cy: 17%;
  cx: 42%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
#stars circle:nth-of-type(34) {
  r: 2;
  cy: 25%;
  cx: 98%;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
#stars circle:nth-of-type(35) {
  r: 3;
  cy: 78%;
  cx: 20%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
#stars circle:nth-of-type(36) {
  r: 3;
  cy: 73%;
  cx: 3%;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
#stars circle:nth-of-type(37) {
  r: 2;
  cy: 50%;
  cx: 54%;
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}
#stars circle:nth-of-type(38) {
  r: 2;
  cy: 98%;
  cx: 68%;
  -webkit-animation-delay: 5.6s;
          animation-delay: 5.6s;
}
#stars circle:nth-of-type(39) {
  r: 3;
  cy: 46%;
  cx: 71%;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
#stars circle:nth-of-type(40) {
  r: 3;
  cy: 26%;
  cx: 39%;
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}
#stars circle:nth-of-type(41) {
  r: 3;
  cy: 98%;
  cx: 48%;
  -webkit-animation-delay: 8.8s;
          animation-delay: 8.8s;
}
#stars circle:nth-of-type(42) {
  r: 2;
  cy: 96%;
  cx: 13%;
  -webkit-animation-delay: 9.8s;
          animation-delay: 9.8s;
}
#stars circle:nth-of-type(43) {
  r: 3;
  cy: 49%;
  cx: 96%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
#stars circle:nth-of-type(44) {
  r: 2;
  cy: 90%;
  cx: 53%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#stars circle:nth-of-type(45) {
  r: 3;
  cy: 38%;
  cx: 60%;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#stars circle:nth-of-type(46) {
  r: 3;
  cy: 25%;
  cx: 65%;
  -webkit-animation-delay: 8.6s;
          animation-delay: 8.6s;
}
#stars circle:nth-of-type(47) {
  r: 3;
  cy: 84%;
  cx: 57%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
#stars circle:nth-of-type(48) {
  r: 3;
  cy: 2%;
  cx: 32%;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
#stars circle:nth-of-type(49) {
  r: 2;
  cy: 35%;
  cx: 50%;
  -webkit-animation-delay: 6.7s;
          animation-delay: 6.7s;
}
#stars circle:nth-of-type(50) {
  r: 2;
  cy: 10%;
  cx: 64%;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}
#stars circle:nth-of-type(51) {
  r: 3;
  cy: 68%;
  cx: 50%;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
#stars circle:nth-of-type(52) {
  r: 3;
  cy: 36%;
  cx: 57%;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}
#stars circle:nth-of-type(53) {
  r: 2;
  cy: 35%;
  cx: 43%;
  -webkit-animation-delay: 7.1s;
          animation-delay: 7.1s;
}
#stars circle:nth-of-type(54) {
  r: 3;
  cy: 75%;
  cx: 79%;
  -webkit-animation-delay: 6.7s;
          animation-delay: 6.7s;
}
#stars circle:nth-of-type(55) {
  r: 3;
  cy: 29%;
  cx: 17%;
  -webkit-animation-delay: 9.7s;
          animation-delay: 9.7s;
}
#stars circle:nth-of-type(56) {
  r: 2;
  cy: 71%;
  cx: 53%;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}
#stars circle:nth-of-type(57) {
  r: 2;
  cy: 14%;
  cx: 79%;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}
#stars circle:nth-of-type(58) {
  r: 3;
  cy: 50%;
  cx: 92%;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
#stars circle:nth-of-type(59) {
  r: 3;
  cy: 38%;
  cx: 77%;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
#stars circle:nth-of-type(60) {
  r: 2;
  cy: 97%;
  cx: 7%;
  -webkit-animation-delay: 8.6s;
          animation-delay: 8.6s;
}
#stars circle:nth-of-type(61) {
  r: 2;
  cy: 66%;
  cx: 53%;
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}
#stars circle:nth-of-type(62) {
  r: 2;
  cy: 35%;
  cx: 92%;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}
#stars circle:nth-of-type(63) {
  r: 3;
  cy: 98%;
  cx: 37%;
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}
#stars circle:nth-of-type(64) {
  r: 3;
  cy: 88%;
  cx: 24%;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
#stars circle:nth-of-type(65) {
  r: 3;
  cy: 33%;
  cx: 4%;
  -webkit-animation-delay: 8.3s;
          animation-delay: 8.3s;
}
#stars circle:nth-of-type(66) {
  r: 2;
  cy: 84%;
  cx: 10%;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}
#stars circle:nth-of-type(67) {
  r: 2;
  cy: 22%;
  cx: 9%;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
#stars circle:nth-of-type(68) {
  r: 3;
  cy: 15%;
  cx: 11%;
  -webkit-animation-delay: 6.8s;
          animation-delay: 6.8s;
}
#stars circle:nth-of-type(69) {
  r: 3;
  cy: 72%;
  cx: 94%;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}
#stars circle:nth-of-type(70) {
  r: 3;
  cy: 37%;
  cx: 13%;
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
}
#stars circle:nth-of-type(71) {
  r: 2;
  cy: 35%;
  cx: 74%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#stars circle:nth-of-type(72) {
  r: 2;
  cy: 10%;
  cx: 43%;
  -webkit-animation-delay: 8.6s;
          animation-delay: 8.6s;
}
#stars circle:nth-of-type(73) {
  r: 2;
  cy: 76%;
  cx: 30%;
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
}
#stars circle:nth-of-type(74) {
  r: 2;
  cy: 28%;
  cx: 29%;
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
}
#stars circle:nth-of-type(75) {
  r: 3;
  cy: 18%;
  cx: 21%;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
#stars circle:nth-of-type(76) {
  r: 3;
  cy: 3%;
  cx: 82%;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
#stars circle:nth-of-type(77) {
  r: 2;
  cy: 99%;
  cx: 48%;
  -webkit-animation-delay: 9.4s;
          animation-delay: 9.4s;
}
#stars circle:nth-of-type(78) {
  r: 3;
  cy: 53%;
  cx: 96%;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
#stars circle:nth-of-type(79) {
  r: 3;
  cy: 87%;
  cx: 48%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#stars circle:nth-of-type(80) {
  r: 3;
  cy: 16%;
  cx: 88%;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
#stars circle:nth-of-type(81) {
  r: 3;
  cy: 25%;
  cx: 81%;
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}
#stars circle:nth-of-type(82) {
  r: 2;
  cy: 55%;
  cx: 2%;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}
#stars circle:nth-of-type(83) {
  r: 3;
  cy: 11%;
  cx: 18%;
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}
#stars circle:nth-of-type(84) {
  r: 3;
  cy: 6%;
  cx: 72%;
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s;
}
#stars circle:nth-of-type(85) {
  r: 3;
  cy: 62%;
  cx: 32%;
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}
#stars circle:nth-of-type(86) {
  r: 3;
  cy: 41%;
  cx: 51%;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
#stars circle:nth-of-type(87) {
  r: 2;
  cy: 85%;
  cx: 100%;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}
#stars circle:nth-of-type(88) {
  r: 3;
  cy: 8%;
  cx: 88%;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}
#stars circle:nth-of-type(89) {
  r: 3;
  cy: 73%;
  cx: 78%;
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}
#stars circle:nth-of-type(90) {
  r: 2;
  cy: 68%;
  cx: 84%;
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}
#stars circle:nth-of-type(91) {
  r: 2;
  cy: 77%;
  cx: 65%;
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}
#stars circle:nth-of-type(92) {
  r: 2;
  cy: 69%;
  cx: 55%;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}
#stars circle:nth-of-type(93) {
  r: 2;
  cy: 99%;
  cx: 61%;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
#stars circle:nth-of-type(94) {
  r: 3;
  cy: 45%;
  cx: 15%;
  -webkit-animation-delay: 9.9s;
          animation-delay: 9.9s;
}
#stars circle:nth-of-type(95) {
  r: 2;
  cy: 72%;
  cx: 75%;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}
#stars circle:nth-of-type(96) {
  r: 3;
  cy: 70%;
  cx: 20%;
  -webkit-animation-delay: 9.9s;
          animation-delay: 9.9s;
}
#stars circle:nth-of-type(97) {
  r: 2;
  cy: 39%;
  cx: 71%;
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
}
#stars circle:nth-of-type(98) {
  r: 3;
  cy: 50%;
  cx: 8%;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
#stars circle:nth-of-type(99) {
  r: 3;
  cy: 87%;
  cx: 26%;
  -webkit-animation-delay: 8.9s;
          animation-delay: 8.9s;
}
#stars circle:nth-of-type(100) {
  r: 3;
  cy: 14%;
  cx: 48%;
  -webkit-animation-delay: 9.9s;
          animation-delay: 9.9s;
}

#comets line {
  fill: none;
  stroke: #FFF;
  stroke-width: 1;
  stroke-dasharray: 150 980;
  stroke-dashoffset: 150;
  -webkit-animation: cometFall 10s ease-out infinite;
          animation: cometFall 10s ease-out infinite;
}
@-webkit-keyframes cometFall {
  5%, 100% {
    stroke-dashoffset: -980;
  }
}
@keyframes cometFall {
  5%, 100% {
    stroke-dashoffset: -980;
  }
}
#comets line:nth-child(1) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
#comets line:nth-child(2) {
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}
#comets line:nth-child(3) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
#comets line:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
#comets line:nth-child(5) {
  -webkit-animation-delay: 6.2s;
          animation-delay: 6.2s;
}
#comets line:nth-child(6) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
#comets line:nth-child(7) {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}
#comets line:nth-child(8) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}


/* footer */

.powered-by::after {
    content: none
}

.footer {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    min-height: 50px;
    font-size: 12px;
    color: #999;
    line-height: 20px;
}



